extends layout

block content
  main(class="container")
    h1(class="text-center")= title
    div
      a(class="btn btn-primary")(href="/add") Agregar Tarea
    table.table
      thead
        tr
          th(scope='col') #Id
          th(scope='col') Task
          th(scope='col') State
          th(scope='col') Action
      tbody
        each task in tasks
          tr
            th(scope='row') #{task.id}
            td #{task.title}
            td 
              if task.completed
                a(class="btn btn-secondary")(href=`/uncomplete/${task.id}`) Desmarcar
              else 
                a(class="btn btn-success")(href=`/complete/${task.id}`) Completar
            td 
              a(class="btn btn-warning me-2")(href=`/edit/${task.id}`) Editar
              a(class="btn btn-danger")(href=`/delete/${task.id}`) Eliminar
